/*CUSTOM FONT*/
@font-face {
    font-family: arcade;
    src: url(../fonts/arcade.ttf);
}

/*ELEMENT SELECTORS*/
body {
    text-align: center;
    background-color: #f2f2f2;
}
h1 {
    margin-bottom: 50px;
    font-family: arcade;
}

h2 {
    margin-top: 35px;
    font-family: arcade;
}
h4{
    font-family: arcade;
}
h5 {
    margin-top: 20px;
    font-family: arcade;
}

/*CLASS SELECTORS*/
.game_button {
    width: 135px;
    height: 135px;
    margin: 15px;
    border-radius: 5px;
}
.game_button:hover {
    opacity: 0.25;
}

/*ID SELECTORS*/
#big_simon {
    width: 340px;
    height: 350px;
    background-color: rgba(0, 0, 0, .1);
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 5px;
}
/*Game Buttons*/
#tL {
    background-color: green;
}
#tR {
    background-color: red;
}
#bL {
    background-color: yellow;
}
#bR {
    background-color: blue;
}

/*Instructions and round count divs*/

#instructions{
    height: 310px;
    width: 275px;
    float: left;
    margin-top: 35px;
    background-color: #a94442;
}
#roundCount{
    height: 310px;
    width: 275px;
    float: right;
    margin-top: 35px;
    background-color: #a94442;
}

/*Media Queries*/

@media screen and (min-width: 401px) and (max-width: 1024px) {
    #instructions { display: none; }
    #roundCount { display: none; }
}
